body {
  font-family: 'Raleway', 'sans-serif';
  background-color: #A2DED0;
}

.mission {
  background-color: #F7FAFE;
  color: #323232;
  margin-top: 30px;
}

.mission h3 {
  padding-top: 5% 10%;
  text-align: center;
}


.jumbotron {
  background-image: url("../images/Drip_Coffee_Bangkok.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin-top: 40px;
  padding: 20%;
  background-attachment: fixed;
  background-position: center -238px;
}
.jumbotron h1 {
  position: absolute;
  left: 0;
  margin-top: -10px;
  padding-left: 20px;
  color: #F7FAFE;
}

.coffee-beans {
  background-image: url("../images/coffee-beans");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin-top: 40px;
  padding: 20%;
}


.features {
  padding-top: 10px;
}
.features p {
  font-family: "Muli" "sans-serif";
  text-align: center;
  font-size: 1.2em;
  color: #323232
}

footer {
  background-color: #D64541;
  position: absolute;
  width: 100%;
  height: auto;
}

footer li {
  display: inline-block;
  style: none;
  padding: 2%;
  float: right;
}

footer p {
  float: left;
  padding: 2%;
}

footer a, footer p {
  vertical-align: middle;
  color: #fff;

}
